.posts{
    gap: 30px;
}


.post{
justify-content: space-between;
gap:40px;
width: 600px;
background-color: rgb(223, 218, 218);
border-radius: 7px;
padding:10px

}
.addpost{
    gap:10px;
}
.addpost>input{
    width: 500px;
    height: 50px;
    border-radius: 10px ; 
}
.addpost>button{
    color:white;
    background-color: blue;
    height: 30px;
    width: fit-content;
    border-radius: 10px;
}
.logoutBtn{
    width: 5%;
    background-color: blue;
    height:20px;
    border-radius: 3px;
    color:  white;
    float: right;
}