.form{
    width: 400px;
    border: 1px black solid;
   gap :20px;
   padding: 10px;
   border-radius: 10px;

}
.inputs{
    width: 85%;
    height: 40px;
    border-radius: 5px;
}
.loginBtn{
    width: 80%;
    background-color: blue;
    height:40px;
    border-radius: 10px;
    color:  white;
}